container_commands:
    00_install_system_dependencies:
        command: "sudo dnf install -y augeas-libs"
    10_set_up_python_virtual_environment_1:
        command: "sudo python3 -m venv /opt/certbot/"
    20_set_up_python_virtual_environment_2:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    30_install_certbot:
        command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
